*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.item-1{
    background-color: #402E7A;
}

.item-2{
    background-color: #4C3BCF;
}

.item-3{
    background-color: #4B70F5;
    /* Define o alinhamento individual no eixo cross */
    /* flex-start, flex-end, center, stretch*/
    align-self: center ;

}

.item-4{
    background-color: #3DC2EC ;
}

.item-1, .item-2, .item-3, .item-4{
    width: 200px;
    padding: 8px;
}

.container{
    background-color: #EF4040;
    /* padding: 8px; */
    /* Ativa o flexbox */
    display: flex;
    /* Define se é row ou column */
    flex-direction: row;
    /* Define se existe quebra de linha ao faltar espaço */
    flex-wrap: wrap ;
    /* ajustar os elementos no eixo main */
    justify-content: center ;

    /* ajustar os elementos no eixo cross */
    /* valores: stretch --> padrão, flex-start, flex-end, center */
    align-items: center ;
    height: 100vh;
    /* align content -> ajusta os elementos quando usamos o wrap */
    /* valores: stretch --> padrão, flex-start, flex-end, center */
    /* align-content: center; */
    gap: 16px;

}